@model SecuritySample.Models.LoginDetails
@{
    ViewBag.Title = "HomePage";
}

<h2>Welcome HomePage by @ViewBag.Message </h2>
@*@Html.CustomAntiForgeryToken()*@
 <div>dasdsa</div>
@Html.ActionLink("Login", "Index", "Home")
